{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="message-top">
    <div class="container">
      <div class="title">Reset your password</div>
    </div>
  </div>
    <div class="container">
                <p style="text-align: center;">Enter your e-mail address to obtain a new password.</p>
        <form method="post" action=".">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button class="btn btn-primary" type="submit" id="loginbutton">Reset</button></form>
    </div>
{% endblock %}