/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "SSGizmo";
  src: url("../fonts/gizmo/ss-gizmo.eot");
  src: url("../fonts/gizmo/ss-gizmo.eot?#iefix") format("embedded-opentype"), url("../fonts/gizmo/ss-gizmo.woff") format("woff"), url("../fonts/gizmo/ss-gizmo.ttf") format("truetype"), url("../fonts/gizmo/ss-gizmo.svg#SSGizmo") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'SS-Ssocial Regular';
  src: url("../fonts/ss-social/ss-social-regular.eot");
  src: local("☺"), url("../fonts/ss-social/ss-social-regular.woff") format("woff"), url("../fonts/ss-social/ss-social-regular.ttf") format("truetype"), url(".//fonts/ss-social/ss-social-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Replica Regular';
  src: url("../fonts/replica/Replica-Regular.eot");
  src: local("☺"), url("../fonts/replica/Replica-Regular.woff") format("woff"), url("../fonts/replica/Replica-Regular.ttf") format("truetype"), url("../fonts/replica/Replica-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Replica Light';
  src: url("../fonts/replica/Replica-Light.eot");
  src: local("☺"), url("../fonts/replica/Replica-Light.woff") format("woff"), url("../fonts/replica/Replica-Light.ttf") format("truetype"), url("../fonts/replica/Replica-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Replica Bold';
  src: url("../fonts/replica/Replica-Bold.eot");
  src: local("☺"), url("../fonts/replica/Replica-Bold.woff") format("woff"), url("../fonts/replica/Replica-Bold.ttf") format("truetype"), url("../fonts/replica/Replica-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }