 {% extends 'base.html' %}
 {% load static %}
 {% block title %}About Us - {% endblock %}
 {% block content %}
 <div class="aboutus">
 <div class="sponsorship-banner" style="background-image: url('{% if context_content.sponsorship_banner %}{{ context_content.sponsorship_banner.url }}{% endif %}');">
    <div class="sponsorship-banner__content">
      <div class="container">
       <div class="bgshade">
            <div class="title">The Mico Foundation At A Glance</div>
        <p class="text">
          The Foundation has been the main driver for building the capacity to sustain the physical development of The Mico as it seeks to diversify and move to new levels for education delivery. We seek to strengthen opportunities for more students engagement and widen our support for education research.
        </p>
       </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="aboutus-top">
      <div class="row">
        <div class="col-md-7">
          <div class="aboutus-top__content">
            <div class="pattern"></div>
            <h2 class="title">about us</h2>
            <p class="text">
              {{ context_content.about_description | safe }}
            </p>
            <div class="history">
              <a href="{% url 'history' %}">
                <button class="skew-button">our history</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="aboutus-top__image">
            <img src="{% static 'img/about-image@2x.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="video-section">
    <div class="row">
            <div class="col-12">
                <div class="video-box inview">
                    <!-- video will be inserted here !-->
                </div>
            </div>
        </div>
    </div>
    <div class="aboutus-places">
      <div class="row">
        <div class="col-md-5">
          <div class="aboutus-places__content">
            <div class="title">places we work</div>
            <p class="text">
              The Mico Foundation is led by a nine member Board of Directors
              that ensures proper management in support of the mission of the
              Mico University College and its outreach programmes.
            </p>
          </div>
        </div>
        <div class="col-md-7">
          <div class="aboutus-places__image">
            <img src="{% static 'img/jm-map.svg' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="aboutus-news">
      <div class="container">
        <div class="row">
          {% if works %}
          {% for work in works %}
          <div class="col-md-3">
            <div class="about-card">
              <div class="about-card__image">
                <img src="{{ work.icon.url }}" alt="" />
              </div>
              <div class="about-card__title">
                <div class="title">{{ work.title }}</div>
                <span> {{ work.location }} </span>
              </div>
              <p class="about-card__text">
                {{ work.get_short_text | safe }}
              </p>
              <div class="about-card__redirect">
                <a href="{% url 'workdetail' work.slug %}"> Read more </a>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
    
      </div>
    </div>
  </div>
</div>
<div class="video-modal">
    <div class="popup__cancel video-cancel">
        <button class="cancel vid"></button>
    </div>
    <div class="modal-content">
         <div class="row">
            <div class="col-12">
                <div class="video-box">
                <video style="width: 90vw; max-width:100%;" controls autoplay>
                  <source src="/media/videos/mico_psa_final.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}