{% if cause %}

                  <div id="donateToCause{{ cause.id }}">
            <div class="donate-content__right">
              <div class="image">
                <img src="{{ cause.thumbnail.url }}" alt="" />
              </div>
              <div class="raisedamount">
                <div class="flex">
                  <label> RAISED ${{ cause.sum }} </label>
                  <div class="goal">GOAL ${{ cause.goal }}</div>
                </div>
                <div class="amountlabel">
                  <div class="amountlabel-percentage">{% widthratio cause.sum cause.goal 100 %}%</div>
                </div>
              </div>
            </div>
            <div class="content">
              <div class="heading">
                {{ cause.title }}
              </div>
              <p class="text">
                {{ cause.description | safe }}
              </p>
              <div class="flex">
                share on:
                <div class="socialmedia">
                  <div class="fb">
                    <span>
                      <i class="fab fa-facebook-f"></i>
                    </span>
                  </div>
                  <div class="twitter">
                    <span>
                      <i class="fab fa-twitter"></i>
                    </span>
                  </div>
                  <div class="linkedin">
                      <span>
                          <i class="fab fa-linkedin-in"></i>
                      </span>
                  </div>
                </div>
              </div>
                  </div>
                  </div>
  
{% endif %}