{% extends 'base.html' %}
{% load static %}
{% block title %}Donate - {% endblock %}
{% block content %}
<div class="donate">
  <div class="donate-banner" style="background-image: url('{% if context_content.donate_page_banner %}{{ context_content.donate_page_banner.url }}{% endif %}');">
    <div class="donate-banner__content">
      <ul>
        <li>
          <span class="number">
            1
          </span>
         <div class="block">
            <div class="title">
            {{ context_content.donate_step1_title }}
          </div>
          <p class="text">
            {{ context_content.donate_step1_text }}
          </p>
         </div>
        </li>
        <li>
          <div class="number">
            2
          </div>
         <div class="block">
            <div class="title">
              {{ context_content.donate_step2_title }}
            </div>
          <p class="text">
            {{ context_content.donate_step2_text }}
          </p>
         </div>
        </li>
        <li>
          <div class="number">
            3
          </div>
         <div class="block">
            <div class="title">
              {{ context_content.donate_step3_title }}
            </div>
          <p class="text">
            {{ context_content.donate_step3_text }}
          </p>
         </div>
        </li>
      </ul>
    </div>
  </div>
      <div class="donate-line">
      <div class="container">
        <div class="title">join partners for change today</div>
      </div>
    </div>
    <div class="donate-detail">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="donate-detail__contact">
              <p>MAKE YOUR DONATION TO:</p>
              <ul>
                <li>The Mico Foundation</li>
                <li>14 Marescaux Road,</li>
                <li>Kingston 5.</li>
              </ul>
              <p>
                The Mico Foundation primary mission is to support the activities
                of the Mico University
              </p>
              <p>College, your donations will:</p>
              <ul class="donationlist">
                <li>
                  <span>
                    <i class="fas fa-check"></i>
                  </span>
                  Promote scholarship
                </li>
                <li>
                  <span>
                    <i class="fas fa-check"></i>
                  </span>
                  Benefit students in need
                </li>
                <li>
                  <span>
                    <i class="fas fa-check"></i>
                  </span>
                  Promote educational research
                </li>
                <li>
                  <span>
                    <i class="fas fa-check"></i>
                  </span>
                  Enhance Early Childhood, Primary and Secondary teaching and
                  learning
                </li>
                <li>
                  <span>
                    <i class="fas fa-check"></i>
                  </span>
                  Preserve the Heritage of the Lady Mico Trust
                </li>
                <li>
                  <span>
                    <i class="fas fa-check"></i>
                  </span>
                  Develop the physical assets and of the University College
                </li>
                <li>
                  <span>
                    <i class="fas fa-check"></i>
                  </span>
                  Enhance the growth and Development of the Mico Foundation.
                </li>
              </ul>
              <div class="donatecampaign">
                <a href="{% url 'causes' %}">
                  <button class="skew-button">DONATE TO OTHER CAMPAIGNS</button>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="donate-detail__right">
              <div class="title">student COVID relief fund</div>
              <div class="rightimage">
                <img src="{% static 'img/covidad.jpg' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="donate-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="donate-content__form">
              <form action="{% url 'causesdonate' cause.slug %}" method='post'>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% csrf_token %}
               <!-- <div class="donatename">donation duration</div>
                <div class="duration">
                  <div class="form-group">
                    <label for="donateOneTime">
                      <input
                        type="radio"
                        id="donateOneTime"
                        class="hiddeninput"
                        name="donateTime"
                        value="onetime"
                        checked
                      />
                      <div class="inside">
                        <span>
                          <i class="fas fa-check-circle"></i>
                        </span>
                        ONE-TIME
                      </div>
                    </label>
                  </div>
                  <div class="form-group leftspace">
                    <label for="donateMonth">
                      <input
                        type="radio"
                        id="donateMonth"
                        class="hiddeninput"
                        name="donateTime"
                        value="monthly"
                      />
                      <div class="inside">
                        <span>
                          <i class="fas fa-check-circle"></i>
                        </span>
                        MONTHLY
                      </div>
                    </label>
                  </div>
                </div> -->
                <div class="donatename">donation amount</div>
                <div class="donateamount">
                  <div class="form-group">
                    <label for="donateAmount1">
                      <input
                        type="radio"
                        id="donateAmount1"
                        class="hiddeninput"
                        name="donateAmount"
                        value="50"
                      />
                      <div class="inside">$50</div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="donateAmount2">
                      <input
                        type="radio"
                        id="donateAmount2"
                        class="hiddeninput"
                        name="donateAmount"
                        value="100"
                      />
                      <div class="inside">$100</div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="donateAmount3">
                      <input
                        type="radio"
                        id="donateAmount3"
                        class="hiddeninput"
                        name="donateAmount"
                        value="150"
                        checked
                      />
                      <div class="inside">$150</div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="donateAmount4">
                      <input
                        type="radio"
                        id="donateAmount4"
                        class="hiddeninput"
                        name="donateAmount"
                        value="200"
                      />
  
                      <div class="inside">$200</div>
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="donateAmountOther">
                      <input
                        type="radio"
                        id="donateAmountOther"
                        class="hiddeninput"
                        name="donateAmount"
                        value="other"
                      />
  
                      <div class="inside">Other</div>
                    </label>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group donateOtherAmt" id="donateOtherAmount">
                        <label for="donateOtherAmt"> Specific Amount </label>
                        <input
                          type="text"
                          class="form-control"
                          id="donateOtherAmt"
                          placeholder="Specific Amount"
                          name="customAmount"
                        />
                      </div>
                    </div>
                  </div>
                <div class="donatename">personal info</div>
                <div class="donateform">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>first name: <span>*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="First Name"
                          name='firstName'
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>last name: <span>*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Last Name"
                          name='lastName'
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>address line 1: <span>*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Address Line 1"
                          name='addressOne'
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>address line 2:</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Address Line 2"
                          name='addressTwo'
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>city: <span>*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="City"
                          name="city"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>state/province: <span>*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="State/province"
                          name="state"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>ZIP/Postal Code: <span>*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="ZIP/ Postal Code"
                          name="postcode"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>country: <span>*</span></label>
                        <select
                          class="selectpicker countrypicker form-control"
                          data-default="US"
                          data-flag="true"
                          name="country"
                        ></select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label> email address: <span>*</span> </label>
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Email Address"
                          name="email"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label> donor phone number: (not required) </label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Donor Phone Number"
                          name="phone"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="hidden" value="0" name="subscribe">
                        <input type="checkbox" checked value="1" name="subscribe"/>
                        <span>
                          Yes, I would like to recieve communication from MICO
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="donate-paymentlist">
                        <div class="form-group">
                          <label for="donateMastercard">
                            <input
                              type="radio"
                              id="donateMastercard"
                              class="hiddeninput"
                              name="donatePaymentMethod"
                              checked
                              value="card"
                            />
                            <div class="image">
                              <img src="{% static 'img/credit-card-icon.svg' %}" alt="" />
                            </div>
                          </label>
                        </div>
                        <div class="form-group">
                          <label for="donateEcheck">
                            <input
                              type="radio"
                              id="donateEcheck"
                              class="hiddeninput"
                              name="donatePaymentMethod"
                              value="offline"
                            />
                            <div class="image">
                              <img src="{% static 'img/offline-icon.svg' %}" alt="" />
                            </div>
                          </label>
                        </div>
                        <div class="form-group">
                          <label for="donatePaypal">
                            <input
                              type="radio"
                              id="donatePaypal"
                              class="hiddeninput"
                              name="donatePaymentMethod"
                              value="paypal"
                            />
                            <div class="image">
                              <img src="{% static 'img/pay-pal-icon.svg' %}" alt="" />
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="donate-paymentlist__block">
                    <div class="form-group" id="paymentMastercard">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="mastercard">
                              <div class="row">
                                <div class="col-md-8">
                                  <div class="form-group card">
                                    <label
                                      >credit card number
                                      <span>*</span></label
                                    >
                                    <input
                                      type="text"
                                      placeholder="Credit Card Number"
                                      class="form-control"
                                      name="cardNo"
                                      id="cardNo"
                                      onkeyup="cc_format('cardNo','cstCCardType');"
                                    />
                                    <span id="cstCCardType">
                                       <ul class="card-type-list">
                                          <li class="card-type" data-logo="VISA_CARD" aria-hidden="false"></li>
                                          <li class="card-type" data-logo="MASTER_CARD" aria-hidden="false"></li>
                                          <li class="card-type" data-logo="AMERICAN_EXPRESS_CARD" aria-hidden="false"></li>
                                          <li class="card-type" data-logo="DISCOVER_CARD" aria-hidden="false"></li>
                                       </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label
                                      >Expiration Date <span>*</span></label
                                    >
                                    <div class="select-group">
                                    <select name="Month">
                                      <option value="01">01</option>
                                      <option value="02">02 </option>
                                      <option value="03">03</option>
                                      <option value="04">04</option>
                                      <option value="05">05</option>
                                      <option value="06">06</option>
                                      <option value="07">07</option>
                                      <option value="08">08</option>
                                      <option value="09">09</option>
                                      <option value="10">10</option>
                                      <option value="11">11</option>
                                      <option value="12">12</option>
                                  </select>
                                  <select name="Year">
                                    <option value="20"> 2020</option>
                                    <option value="21"> 2021</option>
                                    <option value="22"> 2022</option>
                                    <option value="23"> 2023</option>
                                    <option value="24"> 2024</option>
                                    <option value="25"> 2025</option>
                                    <option value="26"> 2026</option>
                                    <option value="27"> 2027</option>
                                    <option value="28"> 2028</option>
                                    <option value="29"> 2029</option>
                                    <option value="30"> 2030</option>
                                </select>
                              </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>CVV <span>*</span></label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      name="cvv"
                                    />
                                  </div>
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group amount-box">
                        <label class="text-center"> Amount </label>
                        <div style="font-weight: 600" id="donateAmt"></div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group ">
                        <div class="flex donate-btn-box">
                          <button type="submit" class="donate-btn skew-button">Donate Now</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-5">
            <div class="donate-project-card">
            <div class="donate-content__right">
              <div class="image">
                <img src="{{ cause.thumbnail.url }}" alt="" />
              </div>
              <div class="raisedamount">
                <div class="flex">
                  <label> RAISED ${{ cause.sum }} </label>
                  <div class="goal">GOAL ${{ cause.goal }}</div>
                </div>
                <div class="amountlabel">
                  <div class="amountlabel-percentage">{% widthratio cause.sum cause.goal 100 %}%</div>
                </div>
              </div>
            </div>
            <div class="content">
              <div class="heading">
                {{ cause.title }}
              </div>
              <p class="text">
                {{ cause.description | safe }}
              </p>
              <div class="flex">
                share on:
                <div class="socialmedia">
                  <div class="fb">
                    <span>
                      <i class="fab fa-facebook-f"></i>
                    </span>
                  </div>
                  <div class="twitter">
                    <span>
                      <i class="fab fa-twitter"></i>
                    </span>
                  </div>
                  <div class="linkedin">
                      <span>
                          <i class="fab fa-linkedin-in"></i>
                      </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="adimage">
              {% if context_ad %}
              <img src="{{ context_ad.image.url }}" alt="{{ context_ad.title }}" />
              {% endif %}
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}