{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Contact - {% endblock %}
{% block content %}
<div class="contact">
    <div class="contact-map">
      <iframe
        src="https://maps.google.com/maps?q=1A%20Marescaux%20Road%2C%20Kingston%205%2C%20Mico%20Foundation&t=&z=13&ie=UTF8&iwloc=&output=embed"        "
        style="width: 100%; height: 400px;"
        frameborder="0"
        allowfullscreen=""
      ></iframe>
    </div>
    <div class="contact-heading">
      <div class="container">
        <div class="title">contact us</div>
      </div>
    </div>
    <div class="contact-body">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="contact-body__general">
              <div class="title">general</div>
              <ul class="detail">
                <li>
                  our office is located at The Mico Foundation 1A Marescaux Road,
                  Kingston 5.
                </li>
                <li>
                  Email us at micofoundation@yahoo.com or call +1(876) 929-5260.
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-7">
            <div class="contact-body__form">
              <div class="title">leave us a message</div>
              
              <form action="{% url 'contact' %}" method="POST" style="width: 100%;">
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
               {% endif %}
                   
               {% csrf_token %}    
                {{ form | crispy }}
                <div class="form-group text-center">
                  <button type="submit" class="skew-button">SEND</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}