{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="newssingle">
    <div class="newssingle-banner">
      <img src="./img/sponsor-gate-scaled.jpg" alt="" />
    </div>
    <div class="container">
      <div class="newssingle-content">
        <div class="title">In the news</div>
        <p>
          The Mico is synonymous with excellence. An education beacon since 1836,
          the institution epitomizes resilience and adaptability. It is therefore
          fitting for its structure and infrastructure to reflect what her
          beneficiaries call, the spirit of The Mico. It is an aura that captures
          excellence within and without. The grounds of The Mico is as important
          as the educational offering. The Mico Foundation is aware of this and
          continues to play an integral role in the physical development of the
          institution. Without a doubt, the most aesthetically pleasing frontage
          on Marescaux Road, Kingston, Jamaica is at number 1A, the location of
          The Mico University College. The construction of the gate and gateway,
          has solidified this fact. As part of the Campus Development Project
          under the auspices of the Mico Foundation, construction was completed
          and the official opening was held on February 21, 2019. This ‘Gateway to
          Excellence’ is part of the larger vision of infrastructural and
          institutional development in keeping with the institution’s strategic
          objectives, one of which is university status. The mandate of the
          Foundation has always been to create and facilitate projects designed to
          enable sustainability. In realizing this achievement, the Foundation is
          grateful for the contributions of significant stakeholders who bought
          into this vision. The gate is intended also to be a symbol of a new era
          – a part of the re-imaging of The Mico. It creates a balance between our
          glorious past and the challenges of a new and exciting future. Every
          effort was made to ensure that the Georgian architecture that defines so
          many of our buildings on the campus was not compromised. The Buxton
          Tower, part of the consciousness of every Miconian, is replicated in the
          newly constructed gateway.
        </p>
        <p>
          The Mico is synonymous with excellence. An education beacon since 1836,
          the institution epitomizes resilience and adaptability. It is therefore
          fitting for its structure and infrastructure to reflect what her
          beneficiaries call, the spirit of The Mico. It is an aura that captures
          excellence within and without. The grounds of The Mico is as important
          as the educational offering. The Mico Foundation is aware of this and
          continues to play an integral role in the physical development of the
          institution. Without a doubt, the most aesthetically pleasing frontage
          on Marescaux Road, Kingston, Jamaica is at number 1A, the location of
          The Mico University College. The construction of the gate and gateway,
          has solidified this fact. As part of the Campus Development Project
          under the auspices of the Mico Foundation, construction was completed
          and the official opening was held on February 21, 2019. This ‘Gateway to
          Excellence’ is part of the larger vision of infrastructural and
          institutional development in keeping with the institution’s strategic
          objectives, one of which is university status. The mandate of the
          Foundation has always been to create and facilitate projects designed to
          enable sustainability. In realizing this achievement, the Foundation is
          grateful for the contributions of significant stakeholders who bought
          into this vision. The gate is intended also to be a symbol of a new era
          – a part of the re-imaging of The Mico. It creates a balance between our
          glorious past and the challenges of a new and exciting future. Every
          effort was made to ensure that the Georgian architecture that defines so
          many of our buildings on the campus was not compromised. The Buxton
          Tower, part of the consciousness of every Miconian, is replicated in the
          newly constructed gateway.
        </p>
      </div>
    </div>
  </div>
{% endblock %}