<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <table>
        <tr>
          <th>Donor</th>
          <td>{{ donation.first_name }} {{ donation.last_name }}</td>
        </tr>
        <tr>
          <th>Date</th>
          <td>{{ donation.created_at }}</td>
        </tr>
        <tr>
          <th>Total Donation</th>
          <td>USD {{ donation.amount }}</td>
        </tr>
        <tr>
          <th>Donation</th>
          <td>{% if donation.project %}{{ donation.project.project_name }}{% else %}{{ donation.cause.title }}{% endif %}</td>
        </tr>
        <tr>
          <th>Donation ID</th>
          <td>{{ donation.donation_id }}</td>
        </tr>
        <tr>
          <th>Payment Method</th>
          <td>{{ donation.method }}</td>
        </tr>
      </table>
</body>
</html>