{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login - {% endblock %}
{% block content %}
<div class="message-top">
  <div class="container">
    <div class="title">Login</div>
  </div>
</div>
    <div class="row">
  <div class="col-md-4" style = "overflow: hidden;
        float: none;
        margin: 0 auto 10px;
        padding: 80px;
          ">
   <form method="post" action="{% url 'login' %}" id="loginform" >
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
  {% csrf_token %}
  <label for="username">Email:</label>
  <input class="form-control" type="text" name="username" placeholder="Enter Your Email">
  <label for='password'>Password:</label>
  <input class="form-control" type="password" name="password" placeholder="Enter Your Password">
  <button type="submit" id="loginbutton" style="margin-top:5px;">Login</button></form>
   <a href="{% url 'signup' %}">Signup here.</a><br>
  <a href="{% url 'password_reset' %}">Forgot password?</a>
</div>
</div>
</div>

{% endblock %}
