{% extends 'base.html' %}
{% load static %}
{% block title %}Messages - {% endblock %}
{% block content %}
<div class="message">
  <div class="message-top">
    <div class="container">
      <div class="title">message by {{ message.message_by }}</div>
    </div>
  </div>
  <div class="message-profile">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <img src="{{ message.photo.url }}" alt="" />
        </div>
        <div class="col-md-6">
            <p>
                {{ message.message | safe }}
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}