{% extends 'base.html' %}
{% block content %}
<div class="message-top">
    <div class="container">
      <div class="title">Offline Donation Almost Complete</div>
    </div>
  </div>
<div class="container" style="padding-top: 10px;padding-bottom: 10px;">
<div style="float: none; margin: 0 auto;">
  <div class="alert alert-success">Your Donation is almost Complete</div>
  <p>In order to make an offline donation we ask that you please follow these instructions:</p>
  <ul style="list-style-type: number;">
      <li>Make a check payable to "The Mico Foundation"</li>
      <li>On the memo line of the check, please indicate that the donation is for "The Mico Foundation" and state which donation campaign you're making your contribution for.</li>
    <li>Please mail your check to:</li>
    <p>
        The Mico Foundation<br>
        1A Marescaux Road,<br>
        Kingston 5</p>
    <p>All contributions will be gratefully acknowledged and are tax deductible.</p>
    </ul>
</div>
</div>
{% endblock %}


